<div class="container">
  <h1>{{totalCommits | number}} Commits</h1>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of commits">

      <div class="commit-item" [style.background-color]="item.fix=='True'?'#e1d6d6':'#f5f5f5'" (click)="viewCommit(item)">
        <small class="classification-box">{{item?.classification}}</small>
        {{item?.commit_message}}

        <small style="float: right">{{item.author_name}} on {{item.author_date}}</small>
      </div>
      <div class="info" *ngIf="commitInfo && selected==item">
        <commit-info-cat title="Diffusion" [data]="commitInfo.diffusion"></commit-info-cat>
        <commit-info-cat title="Experience" [data]="commitInfo.experience"></commit-info-cat>
        <commit-info-cat title="History" [data]="commitInfo.history"></commit-info-cat>
        <commit-info-cat title="Size" [data]="commitInfo.size"></commit-info-cat>
      </div>

    </li>


  </ul>

  <dir style="display:flex">
    <div [class]="i==onPage?'pagination-box selected':'pagination-box'" *ngFor="let item of pages;let i = index" (click)="pageClick(item)">{{item}}

    </div>
  </dir>
  
</div>