<ul class="nav navbar">
  <div class="container">
    <li class="nav-item">
        
      <a class="nav-link active" href="#"  style="font-size: 20px"><i class="fa fa-code-fork" aria-hidden="true"></i> Foundry Commit Guru</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/repos">Repos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about" >About</a>
    </li>
  </div>
</ul>