<ul class="nav navbar">
  <div class="container">
    <li class="nav-item">

      <a class="nav-link active" href="#" style="font-size: 20px">
        <i class="fa fa-code-fork" aria-hidden="true"></i> Foundry Commit Guru
      </a>
    </li>
    <li class="nav-item">
      <a [class]="selected==1?'nav-link selected':'nav-link'" routerLink="/home" (click)="onClick(1)">
        <i style="margin-right:10px" class="fa fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <li class="nav-item">
      <a [class]="selected==2?'nav-link selected':'nav-link'" routerLink="/repos" (click)="onClick(2)">
        <i style="margin-right:10px" class="fa fa-bitbucket" aria-hidden="true"></i>Repos</a>
    </li>
    <li class="nav-item">
      <a [class]="selected==3?'nav-link selected':'nav-link'" routerLink="/about" (click)="onClick(3)">
        <i style="margin-right:10px" class="fa fa-info" aria-hidden="true"></i>About</a>
    </li>
  </div>
</ul>